.bulletinContainer {
  display: flex;
  flex-direction: column;
}

.bulletinWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'location post';
}

.allPostsContainer {
  background-color: white;
  border: solid;
  grid-area: post;
  width: 50vw;
  height: 100vh;
  margin-left: 5.5rem;
  overflow-y: scroll;
  line-height: 2rem;
}

.locationWrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  grid-area: location;
  text-align: center;
  line-height: 3rem;
  margin-left: 2rem;
}

.bulletinBtn {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-top: 1rem;
}

.bulletinBtn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.bulletinDuoBtn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .bulletinBtn {
    padding: 0.25em 0.75em;
  }
}

#locationLabel {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

#createPostContainer {
  border-top: solid;
  font-size: 1.5rem;
  margin-top: 1rem;
}
