.bulletinContainer {
  display: flex;
  flex-direction: column;
}

.bulletinWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'location post';
}

.postContainer {
  border: solid;
  grid-area: post;
  height: 100vh;
}

.locationWrapper {
  // temporary border
  border: solid;
  grid-area: location;
}
