.postWrapper {
  margin: 1rem;
  border: solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
