.userPostWrapper {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  margin: 1rem; 
  border: solid ; 
  font-family: 'Montserrat', sans-serif;
  padding: 1rem; 
  font-size: .9rem; 
  line-height: 2rem;
}

#userNickname {
  font-family: 'Montserrat', sans-serif;
  font-size:'1rem';
}

#userEmail {
  font-family: 'Montserrat', sans-serif;
  font-size:'1rem';
}

.buttonContainer {
  display: flex; 
  margin: .5rem;   
  justify-content: flex-end;
}

#foundBtn {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .5rem;
  font-size: 1rem;
}
