.userPostWrapper {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  margin: 1rem; 
  border: solid ; 
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem; 

}

#userNickname {
  font-family: 'Montserrat', sans-serif;
  font-size:'1rem';
}

#userEmail {
  font-family: 'Montserrat', sans-serif;
  font-size:'1rem';
}

